<div class="d-flex align-items-center justify-content-center min-vh-100 bg-light">
  <div class="card shadow p-4" style="width: 100%; max-width: 400px;">
    <h3 class="text-center mb-4">Iniciar Sesión</h3>
    


    
    <!-- Formulario de inicio de sesión
     Se crea el FormGroup loginForm y se ejecuta la funcion onSubmit si se envia el formulario -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="InputEmail" class="form-label">Email</label>
           <!-- Uso ngClass para cambiar el recuadro del input a rojo si hay errorers, es submitted y esta tocado -->
        <input type="email" class="form-control" id="InputEmail" formControlName="email"
               [ngClass]="{'input-error': (emailControl?.touched || submitted) && emailControl?.errors}">
          <!-- Uso ngIf para mostrar el div de error con el mensaje correspondiente y su estilo -->     
        <div *ngIf="(emailControl?.touched || submitted || emailControl?.dirty) && emailErrorKey" class="text-error">
          {{ errorMessages.getErrorMessage(emailErrorKey) }}
        </div>
      </div>

      <!-- Se repite para el bloque de la password-->  

      <div class="mb-3">
        <label for="InputPassword" class="form-label">Password</label>
          <div class="input-group">
            <input [type]="showPassword ? 'text' : 'password'" class="form-control" id="InputPassword" formControlName="password"
            [ngClass]="{'input-error': (passwordControl?.touched || submitted) && passwordControl?.errors}">
            <button type="button" class="btn btn-outline-dark" (click)="showPassword = !showPassword" tabindex="-1">
              <span *ngIf="!showPassword">
                <i class="bi bi-eye"></i>
              </span>
              <span *ngIf="showPassword">
                <i class="bi bi-eye-slash"></i>
              </span>
            </button>
          </div>
          <div *ngIf="(passwordControl?.touched || submitted || passwordControl?.dirty) && passwordErrorKey" class="text-error">
            {{ errorMessages.getErrorMessage(passwordErrorKey) }}
          </div>
          <small class="form-text text-muted mt-1">
            No comparta sus contraseñas.
          </small>
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="rememberMe" formControlName="rememberMe">
        <label class="form-check-label" for="exampleCheck1">Recordar password</label>
      </div>
      <button type="submit" class="btn gradiente-principal w-100">Ingresar</button>
      
      <div class="text-center mt-3">
        <a class="link" href="#">¿Olvidó su contraseña?</a>
      </div>

      <div *ngIf="loginError" class="alert alert-danger mt-3" role="alert">
        Error de inicio de sesión. Por favor, verifique sus credenciales.
      </div>

    </form>
  </div>
</div>