<div class="nosotros-container">
<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title class="image-title">Gabriel  Santillán</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://pbs.twimg.com/profile_images/1726238338468753408/yBd4fNMJ_400x400.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content class="nosotros__container-p">
        <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
        </p>
    </mat-card-content>
</mat-card>
<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title class="image-title">Yoel Petulla</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://media.licdn.com/dms/image/v2/D4D03AQHXCGK6xnvt-g/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1703621570409?e=1762992000&v=beta&t=qKhWR7_fchWf2vTk5v4MnUuk1TMQWvwKcKOUjL_NSt8" alt="Photo of a Shiba Inu">
    <mat-card-content class="nosotros__container-p">
        <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
        </p>
    </mat-card-content>
</mat-card>
<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title class="image-title">Mariano Alvez</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRoHhzKTwKEuZoa49MF53460nXK8AS8mx_FXA&s" alt="Photo of a Shiba Inu">
    <mat-card-content class="nosotros__container-p">
        <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
        </p>
    </mat-card-content>
</mat-card>
</div>